.gradle

# Only configure root .idea folder because
# integration tests need their own
/.idea/*
!/.idea/codeStyles
!/.idea/scopes
!/.idea/inspectionProfiles

# Gradle Output directories
/build
/intellij2checkstyle/build
/intellij2checkstyle-cmd/build
/intellij2checkstyle-core/build

# IntelliJ Output directories
/out
/intellij2checkstyle/out
/intellij2checkstyle-cmd/out
/intellij2checkstyle-core/out

# Proxy Settings for Testing
/intellij2checkstyle-core/data/ideaConfiguration/config/options/proxy.settings.pwd
/intellij2checkstyle-core/data/ideaConfiguration/config/options/proxy.settings.xml

# Temporary Files
*.log
